<!-- _includes/sidebar.html -->
<aside class="sidebar" role="navigation" aria-label="Menu latéral">
  <ul class="menu">
    <li><a class="item" href="/tableau-de-bord/"><span class="label">Tableau de bord</span></a></li>
    <li><a class="item" href="/actualites-ccn/"><span class="label">Actualités CCN</span></a></li>
    <li><a class="item" href="/astuces-romain/"><span class="label">Les astuces de Romain</span></a></li>
    <li><a class="item" href="/cuisine-cc/"><span class="label">Cuisine CC</span></a></li>

    <!-- Groupe Simulateur (ouverture au clic) -->
    <li class="has-flyout">
      <button class="group-trigger" aria-haspopup="true" aria-expanded="false" type="button">
        <span class="label">Simulateur</span>
        <span class="chevron" aria-hidden="true">▸</span>
      </button>
      <div class="expandedMenu" role="menu" aria-label="Sous-menu Simulateur">
        <div class="subMenuTitle">Simulateur</div>
        <div>
          <a class="depth0" href="/simulateur/retraite/" role="menuitem"><span>Indemnité de départ à la retraite</span></a>
          <a class="depth0" href="/simulateur/divers/" role="menuitem"><span>Divers</span></a>
        </div>
      </div>
    </li>

    <li><a class="item" href="/dsn/"><span class="label">DSN</span></a></li>
    <li><a class="item" href="/modules/"><span class="label">Modules</span></a></li>
    <li><a class="item" href="/etats-declarations/"><span class="label">États et déclarations</span></a></li>
    <li><a class="item" href="/etats-controle/"><span class="label">États de contrôle</span></a></li>
  </ul>
</aside>
